.taskItem {
    list-style-type: none;
    border-radius: 3px;
    box-shadow: 3px 2px 3px silver ;
    background-color: white;
    
    height: auto;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
}


.taskItem:hover {
    background-color: whitesmoke;
}