* {
    block-size: auto;
}

.rowHeader {
    padding: 3px;
    /* border: 1px solid black; */
    display: flex;
    /* border-radius: 3px; */
    background-color: #ebecf0;
    
}

.rowContent {
    border: 1px solid black;
    background-color: #ebecf0;
    border-radius: 5px;

}

.rowWrap {
    border: 1px s/olid black;
    width: 260px;
    /* height: 500px; */
}

.tasksContainer {
    padding-left: 0;
    margin-left: 4px;
}